<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746497061570-nq4r6jlo0t4p3njk033g6u7na8k7nqln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746497061570-nq4r6jlo0t4p3njk033g6u7na8k7nqln</string>
	<key>API_KEY</key>
	<string>AIzaSyB2xvRM0FdZkwuejArOWUTfJoRVQAgWflM</string>
	<key>GCM_SENDER_ID</key>
	<string>746497061570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pubnative.AdTag.demo</string>
	<key>PROJECT_ID</key>
	<string>ad-tag-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>ad-tag-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746497061570:ios:5fb46ace6328d54da8415b</string>
	<key>DATABASE_URL</key>
	<string>https://ad-tag-demo.firebaseio.com</string>
</dict>
</plist>